@import '../../src/styles/fab';

//@include fab;

// override positioning for playground
[class^='vdp-fab']:not([class*='__']) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
