@import '../../src/styles/_grid.scss';
@import '../../src/styles/_typography.scss';

.type-column {
    float: left;
    margin-right: 10px;
    width: 13%;
    height: 100%;

    .inverted {
        background-color: #333;
        border-radius: $border-radius-XS;
    }
}
