// Tokens
@import 'tokens';
@import 'prefixes';

[class^='vp-backdrop'] {
    position: fixed;
    @include transition(all $transition-2);
    background-color: rgba($color-black, 0.75);
    opacity: 0;
    pointer-events: none;
    z-index: $z-index-backdrop;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &[data-state*='opened'] {
        opacity: 1;
        pointer-events: all;
    }
    // Sibling element transitions
    [data-state*='closing'] ~ &,
    [data-state*='opening'] ~ & {
        @include transition(all $transition-2);
    }
}
