@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

[class^='vdp-backdrop'] {
    @include position(fixed, 0 null null 0);
    @include transition(opacity $transition-2);
    background-color: rgba($color-black, 0.75);
    height: 100%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    z-index: $z-index-backdrop;

    &[data-state='opened'] {
        opacity: 1;
        pointer-events: all;
    }
    [data-state='closing'],
    [data-state='opening'] {
        @include transition(opacity $transition-2);
    }
    [class^='vdp-modal'] & {
        z-index: -1;
    }
}
