@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

[class^='vdp-backdrop'] {
    @include position(fixed, 0 null null 0);
    @include transition(opacity $transition-2);
    background-color: rgba($color-black, 0.75);
    display: none;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    z-index: $z-index-backdrop;

    &[data-state='opened'] {
        display: block;
        opacity: 1;
        pointer-events: all;
    }
    [data-state='closing'],
    [data-state='opening'] {
        @include transition(opacity $transition-2);
    }
    [class^='vdp-modal'] & {
        z-index: -1;
    }
}

.vdp-react-backdrop {
    @include position(fixed, 0 null null 0);
    background-color: rgba($color-black, 0.75);
    height: 100%;
    pointer-events: none;
    width: 100%;
    z-index: $z-index-backdrop;

    pointer-events: all;

    [class^='vdp-modal'] & {
        z-index: -1;
    }
}
.vdp-react-modal + .vdp-react-backdrop {
    &.vdp-react-backdrop {
        z-index: $z-index-modal - 1;
    }
}
