@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

[class^='vdp-badge'] {
    background-color: $color-gray;
    border-radius: $border-radius-XS;
    color: $color-white;
    display: inline-block;
    font-size: $font-size-XS;
    font-weight: $font-weight-bld;
    line-height: $font-size-LG;
    padding: 1px $sizing-SM;

    &[class*='--lg'] {
        font-size: $font-size-SM;
        line-height: $font-size-XL;
        padding: 0 $sizing-SM;
    }
    &[class*='--error'] {
        background-color: $color-state-error;
    }
    &[class*='--success'] {
        background-color: $color-state-success;
    }
    &[class*='--warning'] {
        background-color: $color-state-warning;
    }
    &[class*='--rounded'] {
        border-radius: $border-radius-LG;
    }
    &[class*='--angled'] {
        background-color: $color-brand-red;
        border-radius: 0;
        bottom: 0;
        font-size: $font-size-SM;
        height: $sizing-XL;
        line-height: $sizing-XL;
        margin-left: $sizing-MD;
        padding: 0 $sizing-MD 0 $sizing-XS;
        position: absolute;
        right: 0;
        z-index: 1;

        &:before {
            @include linear-gradient(to left, $color-gradient-red);
            border-radius: $sizing-2XS 0 0 0;
            content: '';
            height: $sizing-XL;
            left: -$sizing-SM;
            padding: 0 $sizing-MD;
            position: absolute;
            top: 0;
            transform: skew(-16deg);
            transform-origin: 100%;
            width: 50%;
            z-index: -1;
        }
    }
    &[class*='--count'] {
        @include linear-gradient(to left, $color-gradient-red);
        @include position(relative, #{-$sizing-XS} null null null);
        border-radius: $border-radius-round;
        color: $color-white;
        height: $sizing-LG;
        line-height: $sizing-LG;
        padding: 0 0;
        text-align: center;
        width: $sizing-LG;
    }
}
