@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

[class^='vdp-banner']:not([class*='__']) {
    @include align-items(center);
    @include flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    box-shadow: 0 1px 0 rgba($color-black, 0.15);
    position: relative;
    z-index: $z-index-banner;

    > p {
        padding: 0 $sizing-2XS;
    }
}
[class^='vdp-banner__trigger'] {
    background: none;
    border: none;
    color: $text-color-muted;
    cursor: pointer;
    outline: none;
    padding: 0 $sizing-SM;

    &[class*='--inverted'] {
        color: $color-white;
    }
    .vdp-icon {
        font-size: $font-size-XL !important;
        line-height: $sizing-3XL !important;
    }
}
.vdp-banner__details {
    @include border(bottom);
    @include border(top);
    @include flex(1 0 100%);
    @include flex-direction(column);
    background-color: $color-white;
    padding: $sizing-MD $sizing-MD $sizing-LG;
    text-align: center;
}

// Legacy Promos
.vdp-banner--promo {
    border-image-repeat: stretch;
    border-image-slice: 2;
    border-image-width: 2px 50%;
    border-top: 1px solid;
    height: $sizing-3XL;

    .vdp-banner__image {
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
}

.vdp-banner__mask {
    @include align-items(center);
    @include flex;
    @include justify-content(center);
    max-width: $grid-max-width;
    padding: 0 $sizing-LG;
    position: relative;
    width: 100%;

    > * {
        flex: 0.25;
        white-space: nowrap;
    }
    @include size-only-mobile {
        @include flex-direction(column);
    }
}
@include size-min-desktop {
    .vdp-split-banner {
        position: relative;

        > .vdp-container {
            z-index: 2;
        }
        &:after {
            @include position(absolute, 0 52% 0 null);
            @include transform(skewX(10deg));
            background: rgba($color-black, 0.1);
            content: '';
            width: 100%;
            z-index: 1;
        }
        &.bg-white:after {
            background: rgba($color-black, 0.05);
        }
    }
}
