@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

// Mixins
@mixin button-base($fontWeight: $font-weight-med) {
    @include transition(all $transition-2);
    border-radius: $border-radius-SM;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-default;
    font-weight: $fontWeight;
    outline: none !important;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
@mixin button-size($fontSize: $font-size-MD, $lineHeight: $button-height-default, $padding: $button-padding-default) {
    font-size: $fontSize;
    height: $lineHeight;
    line-height: $lineHeight;
    padding: 0 $padding;
}

// Block
[class^='vdp-button']:not([class*='__']) {
    @include button-base;
    @include button-size;
    @include linear-gradient(to bottom, $color-gradient-red);
    border: none;
    color: $color-white;

    &[class*='--disabled'] {
        background: $color_gray_light;
        background-image: none;
        color: $text-color-muted;
    }
    &[class*='--secondary'] {
        @include linear-gradient(to bottom, $color-gradient-blue);
    }
    &[class*='--tertiary'] {
        @include border($color: $color-brand-slate);
        background: $color-white;
        background-image: none;
        color: $text-color-slate;
    }
    &[class*='--text'] {
        @include button-size($fontSize: $font-size-SM, $lineHeight: $button-height-small, $padding: $sizing-SM);
        font-weight: $font-weight-bld;
        background: none;
        border: none;
        color: $text-color-link;
        text-transform: uppercase;

        &:hover {
            background: $color-brand-blue-light;
            box-shadow: none;
        }
        &[class*='--muted'] {
            color: $text-color-muted;
        }
    }
    &[class*='--small'] {
        @include button-size($fontSize: $font-size-SM, $lineHeight: $button-height-small, $padding: $button-padding-small);
    }
    &[class*='--large'] {
        @include button-size($lineHeight: $button-height-large, $padding: $button-padding-large);
    }
    &[class*='--raised'] {
        box-shadow: $elevation-1;
    }
    &[class*='--block'] {
        width: 100%;
    }
    &[class*='--with-icon'] {
        padding-left: 0;
    }
    &:hover {
        box-shadow: $elevation-2;
    }
}

// Button Group
[class^='vdp-grouped-button'] {
    @include button-base;
    @include button-size;
    background: $color-white;
    border: 1px solid $color-gray-light;
    border-left: none;
    border-radius: 0;
    color: $text-color-muted;
    margin: 0 0;

    &:first-child {
        border-left: 1px solid $color-gray-light;
        border-radius: $border-radius-SM 0 0 $border-radius-SM;
    }
    &:last-child {
        border-radius: 0 $border-radius-SM $border-radius-SM 0;
    }
    &[class*='--selected'] {
        border: 1px solid transparent;
        color: $color-white;
        cursor: default;
        @include linear-gradient(to bottom, $color-gradient-blue);
    }
    &[class*='--small'] {
        @include button-size($font-size-SM, $button-height-small, $button-padding-small);
    }
    &[class*='--large'] {
        @include button-size($button-height-large, $button-padding-large);
    }
    &:hover {
        box-shadow: none;
    }
    &:not([class*='--selected']):hover {
        background: $color-gray-highlight;
    }
}

// Button Elements
.vdp-button__icon {
    margin-right: $sizing-XS;

    [class^='vdp-button'][class*='--small'] & {
        font-size: $font-size-XL;
        margin-right: 0;
    }
}
