@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

// Mixins
@mixin card-base {
    @include flex;
    @include flex-direction(column);
    background: $color-white;
    border-radius: $border-radius-SM;
    box-shadow: $elevation-1;
    margin: 0 0 $sizing-LG;
    overflow: hidden;
    position: relative;
}

// Standard Card
.vdp-card {
    @include card-base;

    &__header {
        padding: $sizing-XL $sizing-LG $sizing-SM;
    }
    &__body {
        padding: $sizing-MD $sizing-LG $sizing-LG;
    }
}

// List Card
.vdp-card--list {
    @include card-base;

    .vdp-card__header {
        @include border(bottom);
        line-height: $sizing-5XL;
        padding: 0 $sizing-LG;
        position: relative;
        text-transform: uppercase;

        span {
            font-weight: $font-weight-blk;
        }
        button {
            @include position(absolute, 0 $sizing-SM 0 null);
            margin: auto;
        }
    }
}

// Anchor Card
.vdp-card--anchor {
    @include card-base;
    @include transition(all $transition-1);
    cursor: pointer;

    &:hover {
        box-shadow: $elevation-3;

        .vdp-card__hero {
            background-size: 105% auto;
        }
    }
}

[class^='vdp-card'] {
    [class*='__footer'] {
        @include flex;
        @include justify-content(flex-end);
        padding: $sizing-SM $sizing-LG;

        &[class*='--centered'] {
            justify-content: space-around;
        }
        [class*='vdp-button--text'] {
            margin: $sizing-2XS 0;
        }
    }
}
.vdp-card__header {
    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.vdp-card__hero {
    @include background-cover;
    @include transition(all $transition-1);
    height: $card-hero-height;
    overflow: hidden;
    position: relative;

    &__image {
        height: auto;
        max-width: none;
        min-height: 100%;
        min-width: 100%;
    }
}

[class^='vdp-grid'] {
    .vdp-card,
    .vdp-card--list {
        margin-bottom: 0;
    }
}
