// Tokens
@import 'tokens';
@import 'mixins';
@import 'prefixes';

$card-hero-height: 8rem; // 128px

// Mixins
@mixin card-base {
    background: $color-white;
    border-radius: $border-radius-SM;
    box-shadow: $elevation-1;
    margin: 0 0 $sizing-LG;
    overflow: hidden;
}

// Standard Card
.vp-card {
    @include card-base;

    &__header {
        padding: $sizing-XL $sizing-LG $sizing-SM;
    }
    &__body {
        padding: $sizing-MD $sizing-LG;
    }
}

// List Card
.vp-card--list {
    @include card-base;

    &__header {
        @include border(bottom);
        padding: ($sizing-LG + $sizing-XS) $sizing-LG ($sizing-LG + $sizing-XS) $sizing-LG;
        text-transform: uppercase;
        line-height: $sizing-LG;
    }
}

// Anchor Card
.vp-card--anchor {
    @include card-base;
    @include transition(all $transition-1);
    cursor: pointer;

    &:hover {
        box-shadow: $elevation-3;

        .vp-card__hero {
            background-size: 105% auto;
        }
    }
}

[class^='vp-card'] {
    [class*='__footer'] {
        padding: $sizing-SM $sizing-LG;
        text-align: right;

        &[class*='--centered'] {
            text-align: center;
        }
        [class*='vp-text-button'] {
            margin: $sizing-2XS 0;
        }
    }
}
.vp-card__hero {
    @include background-cover;
    @include transition(all $transition-1);
    height: $card-hero-height;
    position: relative;
    overflow: hidden;

    &__image {
        @include vertical-align;
    }
}
