// Tokens
@import 'tokens';
@import 'mixins';
@import 'prefixes';
@import '_colors.scss';

$card-hero-height: 8rem; // 128px

// Mixins
@mixin card-base {
    @include flex;
    @include flex-direction(column);
    background: $color-white;
    border-radius: $border-radius-SM;
    box-shadow: $elevation-1;
    margin: 0 0 $sizing-LG;
    overflow: hidden;
    position: relative;
}

// Standard Card
.vp-card {
    @include card-base;

    &__header {
        padding: $sizing-XL $sizing-LG $sizing-SM;
    }
    &__body {
        padding: $sizing-MD $sizing-LG $sizing-LG;
    }
}

// List Card
.vp-card--list {
    @include card-base;

    .vp-card__header {
        @include border(bottom);
        font-size: $font-size-SM;
        line-height: $sizing-XL;
        padding: $sizing-LG;
        text-transform: uppercase;

        span {
            font-weight: $font-weight-reg;
        }
    }
}

// Anchor Card
.vp-card--anchor {
    @include card-base;
    @include transition(all $transition-1);
    cursor: pointer;

    &:hover {
        box-shadow: $elevation-3;

        .vp-card__hero {
            background-size: 105% auto;
        }
    }
}

[class^='vp-card'] {
    [class*='__footer'] {
        @include flex;
        @include justify-content(flex-end);
        padding: $sizing-SM $sizing-LG;

        &[class*='--centered'] {
            justify-content: space-around;
        }
        [class*='vp-text-button'] {
            margin: $sizing-2XS 0;
        }
    }
}
.vp-card__header {
    > * {
        display: inline-block;
        vertical-align: middle;
    }

    .vp-card__header__icon {
        @include vp-text-gradient;
    }
}

.vp-card__hero {
    @include background-cover;
    @include transition(all $transition-1);
    height: $card-hero-height;
    overflow: hidden;
    position: relative;

    &__image {
        height: auto;
        max-width: none;
        min-height: 100%;
        min-width: 100%;
    }
}

[class^='vp-grid'] {
    .vp-card,
    .vp-card--list {
        margin-bottom: 0;
    }
}
