// Tokens
@import 'tokens';

.cms-content {
    font-size: $font-size-MD;
    position: relative;
    overflow: hidden;
    max-height: 32rem;
    height: auto;
    @include transition(max-height 2s ease-in-out);

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 24rem;
        background: linear-gradient(to top, $color-white, rgba($color-white, 0));
        height: 8rem;
    }

    [class^='vp-type-headline'] {
        margin: $sizing-2XL 0 $sizing-LG;
    }
    p {
        margin-bottom: $sizing-LG;
    }
    .vp-embed-wrap {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;

        iframe {
            @include position(absolute, 0 null null 0);
            border: 0;
            height: 100%;
            width: 100%;
        }
    }
}

#showMoreContent:checked {
    + .show-more-button {
        display: none;
    }
    ~ .cms-content {
        @include transition(max-height 2s ease-in-out);
        max-height: 999rem;

        &:after {
            display: none;
        }
    }
}

.show-more-button {
    position: absolute;
    bottom: 1.5rem;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
