@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';
$gradients: (
    blue: $color-gradient-blue,
    gold: $color-gradient-gold,
    red: $color-gradient-red,
    slate: $color-gradient-slate,
    teal: (
        #2376a8,
        #21c8a7
    )
);

@mixin text-gradient($gradient: $color-gradient-red) {
    background-image: -webkit-linear-gradient(0deg, $gradient); /* Chrome 10+, Saf5.1+, iOS 5+ */
    color: nth($gradient, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient {
    @each $name, $attr in $gradients {
        &-#{$name} {
            @include text-gradient($attr);
        }
    }
}

// Overlays
$overlays: (
    black--to-right: (
        to right,
        $color-black
    ),
    black--to-left: (
        to left,
        $color-black
    ),
    black--to-top: (
        to top,
        $color-black
    ),
    black--to-bottom: (
        to bottom,
        $color-black
    )
);
.overlay {
    @each $name, $attr in $overlays {
        $gradient: rgba(nth($attr, 2), 0), nth($attr, 2);
        &-#{$name} {
            @include linear-gradient(nth($attr, 1), $gradient);
        }
    }
}

.bg {
    // Brand
    &-brand-black {
        background-color: $color-brand-black;
    }
    &-brand-red {
        background-color: $color-brand-red;
    }
    &-blue {
        background-color: $color-brand-blue;
    }
    &-gold {
        background-color: $color-brand-gold;
    }
    &-slate {
        background-color: $color-brand-slate;
    }
    // Neutrals
    &-black {
        background-color: $color-black;
    }
    &-gray-dark {
        background-color: $color-gray-dark;
    }
    &-gray-medium {
        background-color: $color-gray-medium;
    }
    &-gray {
        background-color: $color-gray;
    }
    &-gray-light {
        background-color: $color-gray-light;
    }
    &-gray-highlight {
        background-color: $color-gray-highlight;
    }
    &-off-white {
        background-color: $color-off-white;
    }
    &-white {
        background-color: $color-white;
    }
    // States
    &-state-success {
        background-color: $color-state-success;
    }
    &-state-warning {
        background-color: $color-state-warning;
    }
    &-state-error {
        background-color: $color-state-error;
    }
    // Marketing Colors
    &-marketing-teal {
        background-color: $color-marketing-teal;
    }
    &-marketing-yellow {
        background-color: $color-marketing-yellow;
    }
    // Gradients
    &-gradient {
        @each $name, $attr in $gradients {
            &-#{$name}--horz {
                @include linear-gradient(to right, $attr);
            }
            &-#{$name}--vert {
                @include linear-gradient(to bottom, $attr);
            }
        }
    }
}
