@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';
$gradients: (
    blue: $color-gradient-blue,
    gold: $color-gradient-gold,
    red: $color-gradient-red,
    slate: $color-gradient-slate
);

@mixin text-gradient($gradient: $color-gradient-red) {
    background-image: -webkit-linear-gradient(0deg, $gradient); /* Chrome 10+, Saf5.1+, iOS 5+ */
    color: nth($gradient, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient {
    @each $name, $attr in $gradients {
        &-#{$name} {
            @include text-gradient($attr);
        }
    }
}

// Overlays
$overlays: (
    black--to-right: (
        to right,
        $color-black
    ),
    black--to-left: (
        to left,
        $color-black
    ),
    black--to-top: (
        to top,
        $color-black
    ),
    black--to-bottom: (
        to bottom,
        $color-black
    )
);
.overlay {
    @each $name, $attr in $overlays {
        $gradient: rgba(nth($attr, 2), 0), nth($attr, 2);
        &-#{$name} {
            @include linear-gradient(nth($attr, 1), $gradient);
        }
    }
}

.bg {
    &-black {
        background-color: $color-black;
    }
    &-blue {
        background-color: $color-brand-blue;
    }
    &-gold {
        background-color: $color-brand-gold;
    }
    &-gray-light {
        background-color: $color-gray-light;
    }
    &-slate {
        background-color: $color-brand-slate;
    }
    &-white {
        background-color: $color-white;
    }
    &-gradient {
        @each $name, $attr in $gradients {
            &-#{$name}--horz {
                @include linear-gradient(to right, $attr);
            }
            &-#{$name}--vert {
                @include linear-gradient(to bottom, $attr);
            }
        }
    }
}
