@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

@mixin collapse-base($titlePadding: $sizing-MD, $indicatorPos: $sizing-SM, $indicatorDisplay: none) {
    &[data-state='closed'] {
        .vdp-collapse__content {
            max-height: 0;
        }
    }
    &[data-state='opened'] {
        .vdp-collapse__title:after {
            transform: rotate(180deg);
        }
        .vdp-collapse__content {
            max-height: 99rem;
        }
    }
    .vdp-collapse__title {
        cursor: pointer;
        padding: $titlePadding 0;

        &:after {
            @include position(absolute, $indicatorPos 0 null null);
            @include pseudo-icon('keyboard_arrow_down');
            @include transition(all $transition-1);
            display: $indicatorDisplay;
        }
    }
}

.vdp-collapse {
    @include collapse-base;
}
.vdp-collapse__title {
    display: block;
    padding: $sizing-MD 0;
    position: relative;
}
.vdp-collapse__content {
    @include transition(max-height $transition-3);
    height: auto;
    overflow: hidden;
}
@include size-only-mobile {
    .vdp-collapse-wrap {
        margin-left: -$sizing-MD;
        margin-right: -$sizing-MD;
    }
    .vdp-collapse__content > * {
        padding-bottom: $sizing-XL !important;
    }
    .vdp-collapse--mobile {
        @include border(top);
        padding: 0 $sizing-LG;
        @include collapse-base($titlePadding: $sizing-LG, $indicatorPos: $sizing-MD, $indicatorDisplay: inline-block);
    }
}
