@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';
@import '_helperText';

[class^='vdp-control']:not([class*='__']) {
    border-radius: $border-radius-SM;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin-left: -$sizing-XS;
    vertical-align: middle;

    &:hover {
        background: $color-gray-highlight;
    }
    &[class*='--block'] {
        display: block;
    }
}
.vdp-control__span:before {
    @include pseudo-icon($pointerEvents: auto);
    @include position(absolute, $sizing-SM null null $sizing-XS);

    [class*='--checkbox'] & {
        content: '\e906';
    }
    [class*='--checkbox'] .vdp-control__input:checked + & {
        content: '\e907';
    }
    [class*='--radio'] & {
        content: '\e93f';
    }
    [class*='--radio'] .vdp-control__input:checked + & {
        content: '\e940';
    }
    .vdp-control__input:checked + & {
        color: $text-color-link;
    }
    [class^='vdp-control'][data-state='error'] & {
        color: $text-color-error;
    }
}
.vdp-control__span {
    display: inline-block;
    font-size: $font-size-MD;
    line-height: $line-height-LG;
    padding: $sizing-SM $sizing-SM $sizing-SM $sizing-2XL;
    position: relative;
    vertical-align: middle;

    .vdp-control__input + & {
        cursor: pointer;
    }
    .vdp-control__input:disabled + & {
        color: $text-color-disabled;
        cursor: not-allowed;
        text-decoration: line-through;
    }
}
