@import 'tokens';
@import 'typography';
@import 'layout';
@import 'mixins/mixins';
@import 'mixins/prefixes';

$column-date-width: 5rem;
$column-thumb-width: 4.25rem;
$column-thumb-margin: $sizing-MD;
$column-button-width: 6.75rem;
$row-height: 4.5rem;

[class*='vdp-event-row']:not([class*='__']) {
    @include align-items(center);
    @include border(bottom);
    @include flex(0 1 auto);
    @include flex-wrap(wrap);
    @include transition(all $transition-1);
    cursor: pointer;
    min-height: $row-height;
    padding: $sizing-SM 0;

    @include size-min-tablet {
        padding: $sizing-MD 0;
    }
    &:hover {
        background-color: $color-gray-highlight;
    }
    &[data-row='last'] {
        border-bottom: none;
        padding-bottom: $sizing-XS;
    }
}
[class*='vdp-event-row__col'] {
    @include flex(0 0 auto);
    @include flex-direction(column);
    @include justify-content(center);
    box-sizing: border-box;
    max-width: 100%;

    &[class*='--button'] {
        display: none;

        @include size-min-tablet {
            display: inherit;
            width: $column-button-width;
            padding-right: $sizing-MD;
            text-align: right;
        }
    }
    &[class*='--date'] {
        @include border(right);
        padding: $sizing-2XS $sizing-SM;
        width: $column-date-width;

        > * {
            margin-left: auto;
            margin-right: auto;
        }
        + .vdp-event-row__col--info {
            max-width: calc(100% - #{$column-date-width});
        }
    }
    &[class*='--info'] {
        @include flex-basis(0%);
        @include flex-grow(1);
        @include flex-shrink(1);
        padding: $sizing-2XS $sizing-LG;
    }
    &[class*='--thumb'] {
        @include justify-content(flex-start);
        border-radius: $border-radius-SM;
        height: $sizing-3XL;
        margin-left: $column-thumb-margin;
        width: $column-thumb-width;
        overflow: hidden;

        + .vdp-event-row__col--info {
            max-width: calc(100% - #{$column-thumb-width + $column-thumb-margin});
            padding-left: $sizing-MD;
        }
    }
}

// Skeleton Loader
$animation-width: 752px;
$gradient-size: 200px;

.vdp-event-row--skeleton {
    &:hover {
        background-color: none;
        cursor: default;
    }
    > * {
        border-color: $color-gray-highlight;
    }
    .skeleton__line {
        animation: loading 2s infinite ease-in-out;
        background-color: $color-gray-highlight;
        background-image: linear-gradient(
            90deg,
            $color-gray-highlight 0px,
            $color-gray-light #{$gradient-size / 2},
            $color-gray-highlight $gradient-size
        );
        background-repeat: no-repeat;
        background-size: $gradient-size;
        border-radius: $border-radius-SM;
        height: $sizing-MD;
        margin-bottom: $sizing-2XS;
        margin-top: $sizing-2XS;
        width: 100%;

        &:nth-child(even) {
            width: 80%;
        }
    }
    .vdp-event-row__col--date .skeleton__line:nth-child(odd) {
        width: 64%;
    }
}
@keyframes loading {
    0% {
        background-position: -$gradient-size;
    }
    100% {
        background-position: calc(100% + #{$gradient-size});
    }
}

// EVENT ROWS THAT APPEAR WITHIN AN ANCHOR CARD
// • Reduced padding to mobile size
// • Background color doesn't change on hover
.vdp-event-row {
    .vdp-card--anchor & {
        padding: $sizing-SM 0;

        &:hover {
            background: $color-white !important;
        }
    }
}
