@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';
@import '../styles/button';

.vdp-expandable-content {
    position: relative;
    overflow: hidden;
    height: auto;
    @include transition(max-height 2s ease-in-out);

    .vdp-button {
        display: none;
    }
}

.vdp-expandable-content[class*='__collapsed'] {
    @include transition(max-height 2s ease-in-out);

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, $color-white, rgba($color-white, 0));
        height: 8rem;
    }

    > .vdp-button {
        display: inline-block;
        position: absolute;
        bottom: 1.5rem;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }
}
