// Tokens
@import 'tokens';
@import 'mixins';
@import 'prefixes';
@import 'typography';

// also used for doc styles - desktop and mobile
@mixin fab {
    [class^='vp-fab'] {
        @include not-vp-child {
            @include flex;
            @include justify-content(center);
            @include align-items(center);
            @include position(fixed, null null $sizing-XL null);
            @include transition(bottom $transition-2);
            background-color: $color-white;
            box-shadow: $elevation-3;
            border: 1px solid $color-gray-light;
            border-radius: $border-radius-XL;
            font-weight: 700;
            height: $sizing-5XL !important;
            max-width: calc(100% - #{$sizing-6XL});
            overflow: hidden;
            z-index: $z-index-fab;
            left: 50%;
            transform: translate(-50%, 0);

            &[data-state*='hidden'] {
                bottom: -#{$sizing-6XL};
            }
            > * {
                padding: 0 1rem;
            }
            i {
                color: $text-color-link;
            }
        }

        [class^='vp-fab__child'] {
            @include flex;
            @include justify-content(center);
            @include align-items(center);
            height: 100%;

            &:not(:first-child) {
                border-left: 1px solid $color-gray-light;
            }
        }
    }
    .vp-fab--double > :first-child {
        @include border(right);
    }
}

// only appears on mobile
@include size-only-mobile {
    @include fab;
}
