@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-fab {
    @include border(bottom);
    @include flex;
    @include align-items(center);
    @include justify-content(stretch);
    height: $sizing-5XL;
    text-align: center;

    .vdp-fab__child {
        cursor: pointer;
        font-size: $font-size-MD;
        font-weight: $font-weight-bld;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        i {
            color: $text-color-link;
            margin-right: $sizing-2XS;
        }
        &--divider {
            flex: none;
            margin: 0;
            width: 1px;
            height: $sizing-3XL;
            background-color: $color-gray-light;
        }
    }
}

@include size-min-tablet {
    .vdp-fab__child {
        -ms-flex: 1;
        flex: 1;
        border-radius: $border-radius-SM;
        line-height: $sizing-3XL + $sizing-2XS !important;
        margin: $sizing-XS;

        &:hover {
            background-color: $color-gray-highlight;
        }
        &:only-child {
            padding: 0 $sizing-LG;
            -ms-flex: none;
            flex: none;
        }
    }
}

// only appears on mobile
@include size-only-mobile {
    .vdp-fab {
        @include border;
        @include position(fixed, null null #{-$sizing-6XL} 50%);
        @include transition(all $transition-2);
        background-color: $color-white;
        box-shadow: $elevation-3;
        border-radius: $border-radius-XL;
        max-width: calc(100% - #{$sizing-6XL});
        z-index: $z-index-fab;
        transform: translateX(-50%);

        .vdp-fab__child {
            padding: $sizing-MD;
            white-space: nowrap;

            &:first-child {
                padding-left: $sizing-LG;
            }
            &:last-child,
            &:only-child {
                padding-right: $sizing-LG;
            }
        }
        &[data-state='visible'] {
            bottom: $sizing-XL;
        }
    }
}
