@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-filter-group-container {
    @include flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
}
.vdp-filter-group {
    @include flex(1 0 100%);
    padding: $sizing-LG 0 $sizing-SM 0;

    ul {
        list-style: none;
        margin: $sizing-XS 0 0 0;
        padding: 0;
    }
    .vdp-filter-group__item {
        border-radius: $border-radius-SM;
        cursor: pointer;
        font-size: $font-size-MD;
        padding: $sizing-XS $sizing-SM;
        position: relative;
        margin: 0 0 0 #{-$sizing-SM};

        &:hover {
            background-color: $color-brand-blue-light;
            color: $text-color-link;
        }
    }
    button {
        margin-top: $sizing-XS;
        margin-left: #{-$sizing-SM};
    }
}
@include size-min-tablet {
    .vdp-modal__body {
        .vdp-filter-group {
            @include flex-basis(auto);
            padding: $sizing-LG;

            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}

.react-slidedown {
    height: 0;
    transition-property: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.react-slidedown.transitioning {
    overflow-y: hidden;
}

.react-slidedown.closed {
    display: none;
}
