@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

// Link styles
@import 'link';

.vdp-filter-group {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0 !important;

    p {
        font-size: 0.8125rem;
        margin: 1rem 0 0.5rem;
        text-transform: uppercase;
        color: $text-color-muted;
    }
    ul {
        margin: 0 0;
        padding: 0 0;
    }
    li {
        position: relative;
        list-style: none;
        line-height: 1.5;
        margin-bottom: 0.3em;

        a {
            display: inline;
            font-size: 0.875rem;
            padding: 0 0;
            margin: 0;
        }
    }
}

.react-slidedown {
    height: 0;
    transition-property: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.react-slidedown.transitioning {
    overflow-y: hidden;
}

.react-slidedown.closed {
    display: none;
}
