// Tokens
@import 'tokens';

.vp-footer {
    @include border(top);
    background: $color-white;
    margin-top: $sizing-4XL;
}
.vp-footer-menu {
    list-style: none;
    margin: 0;
    padding: 0 0 $sizing-SM;

    &__item {
        color: $text-color-muted;
        font-size: $font-size-SM;
        padding-bottom: $sizing-LG;

        a:hover {
            text-decoration: underline;
        }
    }
}
.footer-app-sms {
    padding: $sizing-XL $sizing-LG;
    height: 100%;

    .app-store-links {
        @include flex;

        div {
            margin: 0 $sizing-LG;
        }
        a {
            line-height: $sizing-XL;

            &:hover {
                color: $text-color-link-hover;
            }
        }
    }
}
.footer-bottom-bar {
    @include align-items(center);
    text-align: center;
    padding: $sizing-LG 0;

    > div > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0 $sizing-XS;
    }
    .vp-brand svg {
        height: $sizing-XL;
        width: auto;
    }
}
@include size-only-mobile {
    .footer-badges {
        padding-top: $sizing-MD;
        padding-bottom: $sizing-LG;
    }
}
@include size-min-tablet {
    .vp-footer {
        padding-top: $sizing-XL;
    }
    .vp-footer-menus {
        padding-bottom: $sizing-XL;
    }
    .vp-footer-menu__item {
        padding-bottom: $sizing-SM;
    }
    .footer-copyright {
        text-align: left;
    }
    .footer-badges {
        text-align: right;
    }
}
@include size-min-desktop {
    .footer-app-sms {
        @include border(left);
        padding: $sizing-LG $sizing-XL $sizing-XL $sizing-XL;
    }
}
