// Tokens
@import 'tokens';

$header-height-desktop: 60px;
$menu-width: 280px;

.vp-site-header {
    position: relative;
    background: $color-white;
    z-index: $z-index-nav;

    .vp-container {
        align-items: center;
        display: flex;
        height: $header-height-desktop;
    }
}

.vp-brand svg {
    display: block;
}

.vp-nav {
    align-self: flex-end;
    list-style: none;
    margin-left: auto;
    z-index: $z-index-nav;
    //display: flex;
    //justify-content: space-between;
    //align-items: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    > ul {
        display: flex;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.vp-nav__primary {
    .vp-tab,
    .vp-tab[data-state='active'] {
        line-height: $header-height-desktop;
    }
}
.vp-nav__secondary {
    align-self: flex-end;

    .vp-tab,
    .vp-tab[data-state='active'] {
        line-height: $sizing-4XL;
    }
}

.vp-nav__links {
    @include border(top);
    justify-content: flex-end;
    background: $color-white;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
    width: 656px;
    flex-wrap: wrap;
    padding: $sizing-LG $sizing-LG 0;

    &[data-state='visible'] {
        display: flex;
    }
}
div.vp-nav__links {
    border-radius: 0 0 $border-radius-LG $border-radius-LG;
}

.vp-nav__primary .vp_nav__links:last-child {
}

.vp-link-group--nav {
    flex: 1 0 33%;

    [class^='vp-link-group__item'] {
        &[class*='--featured'] a {
            font-weight: $font-weight-blk;
        }
        a {
            color: $text-color-default;
            font-weight: $font-weight-reg;
            padding: $sizing-SM $sizing-SM;

            &:hover {
                background: $color-gray-highlight;
            }
        }
    }
}
.vp-nav__footer {
    @include border(top);
    flex: 1 0 100%;
    margin: $sizing-LG -#{$sizing-LG} 0;
    padding: $sizing-MD $sizing-LG;
    text-align: right;
}

.vp-nav-drawer {
    position: fixed;
    z-index: 2;
    background: white;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    overflow: scroll;
}

.vp-nav-menu {
    @include transition(all $transition-2);
    background: $color-white;

    @include size-only-mobile {
        @include position(absolute, 0 null 0 -$menu-width);
        flex-direction: column;
        z-index: $z-index-modal;
        width: $menu-width;
    }

    &[data-state='visible'] {
        left: 0;
    }
}
