@import '_mixins.scss';
@import '_prefixes.scss';
@import '_tokens.scss';

@mixin active-helper-text() {
    height: auto;
    opacity: 1;
    padding-top: $sizing-SM;
    visibility: visible;
}

[class^='vp-helper-text'] {
    @include transition(all $transition-1);
    color: $text-color-muted;
    display: block;
    font-size: $font-size-SM;
    height: 0;
    line-height: $line-height-XS;
    opacity: 0;
    padding-left: $sizing-XS;
    padding-right: $sizing-XS;
    visibility: hidden;

    [class*='--outlined'] & {
        padding-left: $sizing-MD;
        padding-right: $sizing-MD;
    }
    &[class*='--validation'] {
        [data-state*='error'] & {
            @include active-helper-text;
            color: $text-color-error;
        }
        [data-state*='success'] & {
            @include active-helper-text;
            color: $text-color-success;
        }
    }
}
