@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';
$hero-height: 200px;
$hero-height-tablet: 280px;
$hero-height-desktop: 320px;
$hero-tab-height-adjuster: 56px;
$hero-overlay-gradient: rgba($color-black, 0), $color-black;

[class^='vdp-page-hero']:not([class*='__']) {
    background-color: $color-black;
    height: $hero-height;
    overflow: hidden;
    position: relative;

    @include size-min-tablet {
        height: $hero-height-tablet;
    }
    @include size-min-desktop {
        height: $hero-height-desktop;
    }
}

// Default Hero
[class^='vdp-page-hero'] {
    .vdp-container {
        height: 100%;
    }
    .vdp-page-hero__breadcrumbs {
        font-size: $font-size-SM;
        font-weight: $font-weight-med;
        list-style: none;
        margin: 0;
        padding: 0 0 $sizing-XS;

        li {
            color: $color-gray;
            display: inline;

            &:not(:last-of-type)::after {
                content: '/';
            }
        }
    }
    .vdp-page-hero__content {
        @include align-items(center);
        @include flex(1);
        height: 100%;
        max-width: 720px;
        position: relative;
        width: 100%;
        z-index: 3;
    }
    .vdp-page-hero__image {
        @include position(absolute, 0 0 0 0);
        z-index: 1;
    }
    .vdp-page-hero__subtitle {
        display: block;
        color: $color-white;
        font-size: $sizing-LG;
        font-weight: $font-weight-reg;
        margin-top: $sizing-SM;

        @include size-min-tablet {
            font-size: $font-size-XL;
        }
    }
    .vdp-page-hero__tabs {
        @include position(absolute, null null 0 null);
        z-index: 3;

        @include size-only-mobile {
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }
    .vdp-page-hero__thumbnail {
        flex: none;

        img {
            width: 4.5rem;
            height: 4.5rem;
        }
        @include size-only-mobile {
            @include position(absolute, null 0 0 null);

            img {
                width: $sizing-5XL;
                height: $sizing-5XL;
            }
        }
        @include size-min-tablet {
            margin-right: $sizing-SM;
        }
    }
    .vdp-page-hero__title {
        color: $color-white;
        font-size: $sizing-XL;
        font-weight: $font-weight-blk;
        line-height: $line-height-XS;
        margin: -5px 0 0 0;
        padding: 0 $sizing-SM;

        @include size-min-tablet {
            font-size: $font-size-4XL;
        }
    }
}

// Gradient Overlays
[class^='vdp-page-hero'][class*='--fade'] .vdp-page-hero__image:before,
[class^='vdp-page-hero'][class*='--stretch'] .vdp-page-hero__image:before {
    @include linear-gradient(to left, $hero-overlay-gradient);
    @include position(absolute, 0 null 0 0);
    content: '';
    width: 64%;
    z-index: 2;
}
[class^='vdp-page-hero'][class*='--fade'] {
    .vdp-container {
        position: relative;
    }
    @include size-min-tablet {
        .vdp-page-hero__image:after {
            @include linear-gradient(to right, $hero-overlay-gradient);
            @include position(absolute, 0 0 0 null);
            content: '';
            width: 32%;
            z-index: 2;
        }
    }
}

// Marketing
[class^='vdp-page-hero'][class*='--marketing'] {
    height: 320px;
    padding-bottom: 1rem;

    &:after {
        border-bottom-width: 0;
        border-color: transparent transparent transparent white;
        border-left-width: 100vw;
        border-right-width: 0;
        border-style: solid;
        border-top-width: 2rem;
        bottom: 0;
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        z-index: 3;
    }
    @include size-min-tablet {
        height: 480px;
        padding-bottom: 1.75rem;

        &:after {
            border-top-width: 3.5rem;
        }
    }
    @include size-min-desktop {
        height: 560px;
        padding-bottom: 2.5rem;

        &:after {
            border-top-width: 5rem;
        }
    }
    // IE11 text overflow fix
    .vdp-page-hero__subtitle,
    .vdp-page-hero__title {
        width: 100%;
    }
}

// Centered
[class^='vdp-page-hero'][class*='--centered'],
[class^='vdp-page-hero'][class*='--marketing'] {
    .vdp-page-hero__content {
        @include align-content(center);
        @include flex-wrap(wrap);
        @include justify-content(center);
        margin: 0 auto;
        max-width: 680px;
        text-align: center;
    }
    @include size-min-tablet {
        .vdp-page-hero__tabs {
            @include justify-content(center);
        }
    }
}

// Large
[class^='vdp-page-hero'][class*='--large'] {
    height: 480px;

    @include size-min-desktop {
        height: 560px;
    }
}

// Tabbed
[class^='vdp-page-hero'][class*='--tabbed'] {
    &:after {
        @include linear-gradient(to bottom, $hero-overlay-gradient);
        @include position(absolute, null 0 0 0);
        content: '';
        height: 50%;
        z-index: 1;
    }
}
