@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

// Layout
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    margin: 0 0;
    max-width: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
body.ios-fix {
    @include position(fixed, null 0 null 0);
}
body.scroll-lock {
    overflow: hidden;
}
main {
    @include flex-grow(1);
}
iframe,
img,
figure {
    max-width: 100%;
}
table {
    width: 100%;
    border-spacing: 0;
}
.vdp-main-content {
    margin-top: $sizing-LG;
}
[class^='vdp-wrapper'] {
    @include flex;
    @include flex-direction(column);
    background-color: $color-off-white;
    min-height: 100vh;
    overflow-x: hidden;

    &[class*='--row'] {
        @include flex-direction(row);
    }
}
[class^='vdp-container'] {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    padding-left: $grid-container-padding;
    padding-right: $grid-container-padding;
    width: 100%;

    &[class*='--fluid'] {
        max-width: none;
        padding-left: 0;
        padding-right: 0;

        [class^='vdp-row'] {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
