// Tokens
@import 'tokens';
@import 'mixins';

[class^='vp-link-group']:not([class*='__']) {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
[class^='vp-link-group__item'] {
    font-size: $font-size-MD;
    border-radius: $border-radius-SM;
    padding: $sizing-SM 0;
}
// Modifiers
.vp-link-group--muted {
    .vp-link-group__item {
        font-size: $font-size-SM;
        @include size-min-tablet {
            padding: $sizing-XS 0;
        }
    }
}
.vp-link-group--striped {
    margin-left: -$sizing-SM;
    margin-right: -$sizing-SM;
    .vp-link-group__item {
        padding: $sizing-SM $sizing-SM #{$sizing-SM + $sizing-2XS};
        &:nth-child(odd) {
            background-color: $color-gray-highlight;
        }
    }
}
