// Tokens
@import 'tokens';
@import 'mixins';

.vp-link-groups {
    padding: $sizing-MD 0;
    margin-left: 0;
    margin-right: 0;
}
[class^='vp-link-group']:not([class*='__']) {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

// Striped Link Groups
.vp-link-group--striped {
    margin-left: -$sizing-SM;
    margin-right: -$sizing-SM;

    [class^='vp-link-group__item']:nth-child(odd) a {
        background-color: $color-gray-highlight;
        border-radius: $border-radius-SM;
    }
}
[class^='vp-link-group__item'] a {
    color: $text-color-link;
    display: block;
    font-size: $font-size-MD;
    font-weight: $font-weight-bld;
    line-height: $line-height-SM;
    padding: 9px $sizing-SM 11px;

    &:hover {
        color: $text-color-link-hover;
        text-decoration: underline;
    }
}

.vp-link-group--footer {
    [class^='vp-link-group__item'] a {
        color: $text-color-muted;
        font-size: $font-size-SM;
        font-weight: $font-weight-reg;
        padding: $sizing-SM 0;
        line-height: $line-height-MD;

        @include size-min-tablet {
            padding: $sizing-XS 0;
        }
    }
}
