@import 'tokens';

@function unpackShorthand($shorthand) {
    @if length($shorthand) == 1 {
        @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
    } @else if length($shorthand) == 2 {
        @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
    } @else if length($shorthand) == 3 {
        @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
    } @else {
        @return $shorthand;
    }
}

@mixin background-cover() {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
@mixin border($side: null, $width: 1px, $style: solid, $color: $color-gray-light) {
    @if $side == null {
        border: $width $style $color;
    } @else {
        border-#{$side}: $width $style $color;
    }
}
@mixin position($position: relative, $trbl: null null null null) {
    $trbl: unpackShorthand($trbl);
    $attributes: (
        top: nth($trbl, 1),
        right: nth($trbl, 2),
        bottom: nth($trbl, 3),
        left: nth($trbl, 4)
    );
    position: $position;
    @each $attribute, $value in $attributes {
        @if $value != null {
            #{$attribute}: $value;
        }
    }
}
@mixin pseudo-icon($icon: '', $color: $color-gray, $height: $sizing-XL, $size: $sizing-XL, $margin: auto, $pointerEvents: none) {
    color: $color;
    content: $icon !important;
    direction: ltr;
    display: inline-block;
    font-family: $font-family-icons;
    font-feature-settings: 'liga';
    font-size: $size;
    font-style: normal;
    font-weight: normal;
    height: $height;
    letter-spacing: normal;
    line-height: $height;
    margin: $margin;
    pointer-events: $pointerEvents;
    text-rendering: optimizeLegibility;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
@mixin vertical-align($pos: relative, $amount: 50%) {
    @include transform(translateY(-$amount));
    position: $pos;
    top: $amount;
}

// Responsive Media Queries
@mixin size-min-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}
@mixin size-min-desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}
@mixin size-min-desktopXL {
    @media screen and (min-width: $breakpoint-desktop-XL) {
        @content;
    }
}
@mixin size-only-mobile {
    @media screen and (max-width: #{$breakpoint-tablet - 1}) {
        @content;
    }
}
@mixin size-only-tablet {
    @media screen and (min-width: $breakpoint-tablet) and (max-width: #{$breakpoint-desktop - 1}) {
        @content;
    }
}
@mixin size-only-desktop {
    @media screen and (min-width: $breakpoint-desktop) and (max-width: #{$breakpoint-desktop-XL - 1}) {
        @content;
    }
}

// VP mixins
@mixin not-vp-child {
    &:not([class*='__']) {
        @content;
    }
}
