@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';
@import './_legacy-modal';
// Block
.vdp-react-modal:not([class*='__']) {
    @include align-items(center);
    @include flex;
    @include justify-content(center);
    @include position(fixed, 0 null null 0);
    height: 100%;
    width: 100%;
    z-index: $z-index-modal;
    // Elements
    .vdp-react-modal__container {
        @include flex;
        @include flex-direction(column);
        @include justify-content(space-around);
        will-change: transform, opacity;
        background: $color-white;
        border-radius: $border-radius-MD;
        margin: $sizing-LG;
        max-height: calc(100% - 32px);
        max-width: 600px;
        min-width: 200px;
        width: auto;
        -ms-flex: 1 0 auto;
    }
}

@include size-min-tablet {
    [class^='vdp-react-modal'][class*='--sm'] .vdp-react-modal__container {
        height: 320px;
    }
    [class^='vdp-react-modal'][class*='--md'] .vdp-react-modal__container {
        height: 480px;
    }
    [class^='vdp-react-modal'][class*='--lg'] .vdp-react-modal__container {
        max-width: 900px;
    }
}

@include size-only-mobile {
    .vdp-react-modal {
        &[class*='--sheet'] {
            .vdp-react-modal__container {
                @include position(absolute, null null -100vh null);
                border-radius: $border-radius-LG $border-radius-LG 0 0;
                margin: 0;
                opacity: 1;
                width: 100%;
            }
            position: fixed;
        }
        &[class*='--full-screen'] {
            .vdp-react-modal__container {
                border-radius: 0;
                margin: 0;
                height: 100vh;
                max-height: unset;
                width: 100vw;
                background-size: 120vw 120vh;
                background-position: center;
                padding: $sizing-XL;
                @include justify-content(center);
                @include align-items(center);

                .vdp-modal__header,
                .vdp-modal__body {
                    @include flex-grow(0);
                }
                .vdp-modal__header {
                    padding-top: 0;
                    padding-bottom: 0;
                }
                .vdp-modal__footer {
                    @include flex;
                    @include flex-direction(column);
                    @include align-items(space-around);
                    text-align: left;
                }
            }
        }
    }
}

// Scrollable Content
[data-scrollable='true'] {
    .vdp-modal__header {
        @include border(bottom);
    }
    .vdp-modal__body {
        padding: $sizing-LG $sizing-XL $sizing-2XL;
    }
    .vdp-modal__footer {
        @include border(top);
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .vdp-react-modal__container {
        &.--open {
            opacity: 1 !important;
            transform: scale(1) !important;
        }
    }
}
