@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

// Block
[class^='vdp-modal']:not([class*='__']) {
    @include align-items(center);
    @include flex;
    @include justify-content(center);
    @include position(fixed, 0 null null 0);
    height: 100%;
    width: 100%;
    z-index: $z-index-modal;

    &[data-state='closed'] {
        display: none;
    }
}

// Elements
.vdp-modal__container {
    @include flex;
    @include flex-direction(column);
    @include justify-content(space-around);
    @include transform(scale(0.5));
    @include transition(all $transition-2);
    background: $color-white;
    border-radius: $border-radius-MD;
    margin: $sizing-LG;
    max-height: calc(100% - 32px);
    max-width: 600px;
    opacity: 0;
    width: auto;

    [data-state='opening'] &,
    [data-state='closing'] & {
        @include transition(all $transition-2);
    }
    [data-state='opened'] & {
        @include transform(scale(1));
        opacity: 1;
    }
    @include size-min-tablet {
        [class^='vdp-modal'][class*='--sm'] & {
            height: 320px;
        }
        [class^='vdp-modal'][class*='--md'] & {
            height: 480px;
        }
        [class^='vdp-modal'][class*='--lg'] & {
            max-width: 900px;
        }
    }
}
@include size-only-mobile {
    [class^='vdp-modal--sheet'] {
        .vdp-modal__container {
            @include position(absolute, null null -100vh null);
            @include transform(scale(1));
            border-radius: $border-radius-LG $border-radius-LG 0 0;
            margin: 0;
            opacity: 1;
            width: 100%;
        }
        &[data-state='opened'] .vdp-modal__container {
            @include position(absolute, null null 0 null);
        }
    }
}

.vdp-modal__body {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 100px;
    padding: 0 $sizing-XL $sizing-LG;
}
.vdp-modal__footer {
    padding: $sizing-MD $sizing-XL;
    text-align: right;
}
.vdp-modal__header {
    @include align-items(center);
    @include flex(1 0 auto);
    @include justify-content(space-between);
    padding: $sizing-2XL $sizing-XL $sizing-LG;

    button {
        margin-left: $sizing-XL;
    }
}

// Scrollable Content
[data-scrollable='true'] {
    .vdp-modal__header {
        @include border(bottom);
    }
    .vdp-modal__body {
        padding: $sizing-LG $sizing-XL $sizing-2XL;
    }
    .vdp-modal__footer {
        @include border(top);
    }
}
