@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-notification {
    display: flex;
    flex-direction: column;

    &.vdp-notification--toast {
        @include transition(all 0.25s ease-in-out);
        border-top-left-radius: $border-radius-LG;
        border-top-right-radius: $border-radius-LG;
        bottom: -100%;
        box-shadow: 0px 2px 4px $color-gray-medium;
        left: 0;
        padding: 1em;
        position: fixed;
        right: 0;
        z-index: $z-index-alert;

        @include size-min-desktop {
            border-bottom-left-radius: $border-radius-LG;
            border-bottom-right-radius: $border-radius-LG;
            bottom: 0;
            left: auto;
            left: initial;
            margin: 1em;
            right: -100%;
        }

        .vdp-notification__dismiss {
            cursor: pointer;
            padding: 7px;
            position: absolute;
            right: 3px;
            top: 3px;
        }

        &.vdp-notification--toast--open {
            bottom: 0;
            left: 0;
            right: 0;

            @include size-min-desktop {
                left: auto;
                left: initial;
                right: 0;
            }
        }
    }
}
