@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-notification {
    border-top-left-radius: $border-radius-LG;
    border-top-right-radius: $border-radius-LG;
    bottom: 0;
    box-shadow: 0px 2px 4px $color-gray-medium;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 1em;
    position: fixed;
    right: 0;
    z-index: $z-index-alert;

    @include size-min-tablet {
        border-bottom-left-radius: $border-radius-LG;
        border-bottom-right-radius: $border-radius-LG;
        bottom: 0;
        left: initial;
        margin: 1em;
    }

    .vdp-notification__dismiss {
        cursor: pointer;
        padding: 7px;
        position: absolute;
        right: 3px;
        top: 3px;
    }
}
