// Tokens
@import 'tokens';

.vp-region-select {
    font-size: 0; // inline-block gap fix
    overflow: hidden;
    position: relative;

    &.truncate:after {
        @include position(absolute, 0 $sizing-LG 0 null);
        background: $color-white;
        content: '...';
        font-size: $font-size-MD;
        line-height: $sizing-5XL;
        padding-left: $sizing-2XS;

        @include size-min-tablet {
            @include linear-gradient(to bottom, $color-gradient-red);
            right: 24px;
        }
    }
}
.vp-region-select__icon {
}
.vp-region-select__caret {
    color: $color-white;

    @include size-only-mobile {
        display: none;
    }
}
.vp-region-select__control {
    @include appearance(none);
    background: none;
    border: none;
    color: $text-color-default;
    display: inline-block;
    max-width: calc(100% - 24px);
    vertical-align: middle;

    @include size-min-tablet {
        max-width: calc(100% - 48px);
    }
}

.vp-region-select__control,
.vp-region-select__width {
    font-family: $font-family-default;
    font-size: $font-size-MD;
    font-weight: $font-weight-bld;
}

.vp-region-select__width {
    position: fixed;
    visibility: hidden;

    @include size-min-tablet {
    }
}

//.region-select-wrap {
//    display: inline-block;
//    vertical-align: middle;
//    opacity: 0;
//    position: relative;
//    text-align: left;
//    white-space: nowrap;
//    overflow: hidden;
//    line-height: 3rem;
//
//    @include screen-m {
//        font-size: 1rem; // inline-block gap fix
//        max-width: calc(100% - 1rem);
//        padding: 0 2rem;
//
//        // overflow ellipsis
//        &.overflow:before,
//        &.overflow:after {
//            position: absolute;
//            bottom: 0;
//            right: 0;
//            height: 100%;
//        }
//        &.overflow:before {
//            content: '';
//            width: 2rem;
//            @include linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
//        }
//        &.overflow:after {
//            content: '...';
//            background: white;
//            padding: 0 8px 0 2px;
//            font-size: 0.90625rem;
//            color: $gray-dark;
//        }
//    }
//    .icon-location {
//        color: $link-color;
//        @include screen-min-md {
//            @include mi-gradient;
//        }
//    }
//    .local-events-text {
//        display: none;
//        @include screen-min-md {
//            display: inline-block;
//            margin-right: 2px;
//        }
//    }
//    select.regionSelect {
//        -webkit-appearance: none;
//        -moz-appearance: none;
//        -ms-appearance: none;
//        -o-appearance: none;
//        appearance: none;
//        font-size: 0.90625rem;
//        font-weight: 700;
//        cursor: pointer;
//        color: $gray-dark;
//        background-color: transparent;
//        border: none;
//        max-width: 100%;
//        padding: 0 0;
//
//        @include screen-min-md {
//            font-size: 0.875rem;
//            color: $link-color;
//
//            &:hover {
//                color: $link-highlight;
//            }
//            &:active,
//            &:focus {
//                cursor: default;
//                outline: none;
//            }
//        }
//        option {
//            color: $gray-dark;
//        }
//    }
//    .region-width-calculator {
//        position:fixed;
//        visibility:hidden;
//        text-transform: none;
//        font-size: 0.875rem;
//        font-weight: 700;
//
//        @include screen-m {
//            font-size: 0.90625rem;
//        }
//    }
//}
//
//// WEB-3252 - Test
//@include screen-m {
//    .region-plus-filter {
//        .region-select-wrap {
//            max-width: calc(100% - 7.25rem);
//            padding: 0 1rem 0 1.5rem;
//            font-size: 1rem; // inline-block gap fix
//        }
//    }
//}
