@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.vdp-search-field {
    @include border;
    @include flex;
    @include justify-content(center);
    background-color: $color-white;
    border-radius: $border-radius-XL;
    cursor: text;
    font-size: $font-size-MD;
    font-weight: $font-weight-reg;
    margin: 0 $sizing-LG;
    padding: 0 $sizing-LG;
    position: relative;

    [class*='vdp-search-field__icon'] {
        color: $color-gray-medium;
        line-height: 36px;
        z-index: 2;
    }
    .vdp-search-field__icon-search {
        pointer-events: none;
    }
    .vdp-search-field__icon-close {
        cursor: pointer;
        font-size: $font-size-XL;
        opacity: 0;
        padding: 0 $sizing-SM;
        position: absolute;
        right: 0;
    }
    .vdp-search-field__input {
        background: none;
        border: none;
        box-shadow: none;
        color: $text-color-muted;
        display: block;
        font-size: $font-size-MD;
        height: 36px;
        outline: none;
        position: relative;
        width: 100%;
        z-index: 1;

        &:active,
        &:focus {
            border: none;
            box-shadow: none;
            color: $text-color-default;
        }
    }
    &[data-state='active'] {
        @include justify-content(flex-start);

        .twitter-typeahead {
            width: 100% !important;
        }
    }
    @include size-only-mobile {
        &[data-state='active'] {
            @include position(fixed, 0 0 null 0);
            height: $sizing-4XL;
            width: 100%;
        }
        [class*='vdp-search-field__icon'] {
            line-height: $sizing-4XL;
        }
        .vdp-search-field__input {
            height: $sizing-4XL;
        }
    }
}
.vdp-search-result {
    border-radius: $border-radius-SM;
    color: $text-color-default;
    cursor: pointer;
    font-size: $font-size-MD;
    line-height: $sizing-LG;
    margin: 0 $sizing-SM;
    padding: $sizing-SM;

    &.tt-is-under-cursor {
        background-color: $color-brand-blue-light !important;
        color: $text-color-link;

        * {
            color: $text-color-link;
        }
    }
    &:first-child {
        margin-top: $sizing-SM;
    }
    &:last-child {
        margin-bottom: $sizing-LG;
    }
    &.vdp-event-row {
        border-bottom: none;
    }
}

// Twitter Typeahead Results
.twitter-typeahead {
    .tt-hint {
        display: none;
    }
    .tt-dropdown-menu {
        background: $color-white;
        z-index: $z-index-nav !important;

        @include size-only-mobile {
            @include border(top);
            bottom: 0;
            overflow: auto;
            padding-bottom: $sizing-XL;
            position: fixed !important;
            right: 0 !important;
            top: $sizing-4XL !important;
            width: 100vw !important;
        }
        @include size-min-tablet {
            border-radius: $border-radius-LG;
            box-shadow: $elevation-2;
            left: -$sizing-3XL !important;
            min-width: 360px;
            top: calc(100% + #{$sizing-LG}) !important;
            width: calc(100% + #{$sizing-5XL});
            z-index: $z-index-nav !important;
        }
    }
}

// Tablet Breakpoint Adjustment
@media screen and (min-width: 870px) {
    .vdp-search-field {
        min-width: 320px;

        .twitter-typeahead {
            width: 262px; // based off of placeholder: Search by team, artist, event or venue
        }
    }
}
