@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

$animation-width: 752px;
$gradient-size: 200px;

.vdp-skeleton:hover {
    background: inherit;
    cursor: default;
}
.vdp-skeleton > * {
    border-color: $color-gray-highlight;
}
[class^='vdp-skeleton__line'] {
    animation: loading 2s infinite ease-in-out;
    background-color: $color-gray-highlight;
    background-image: linear-gradient(
        90deg,
        $color-gray-highlight 0px,
        $color-gray-light #{$gradient-size / 2},
        $color-gray-highlight $gradient-size
    );
    background-repeat: no-repeat;
    background-size: $gradient-size;
    border-radius: $border-radius-SM;
    height: $sizing-MD;
    margin-bottom: $sizing-2XS;
    margin-top: $sizing-2XS;
    width: 100%;

    &[class*='--64'] {
        width: 64%;
    }
    &[class*='--80'] {
        width: 80%;
    }
}
@keyframes loading {
    0% {
        background-position: -$gradient-size;
    }
    100% {
        background-position: calc(100% + #{$gradient-size});
    }
}
