@import 'tokens';
@import 'mixins/mixins';
@import 'mixins/prefixes';

.toast-notification {
    position: fixed;
    right: -100%;
    bottom: 0;

    &--opacity {
        opacity: 0.25;
    }

    @include size-only-mobile {
        bottom: -100%;
        right: 0;
        left: 0;
    }

    z-index: 9999;
    display: flex;
    @include transition(all 0.25s ease-in-out);

    &.open {
        opacity: 1;
        right: 0;
        @include size-only-mobile {
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}
