@import '../../src/styles/backdrop';
// overrides for playground wrapper
.react-live-preview {
    [class^='vdp-backdrop'] {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .vdp-modal,
    .vdp-modal--sheet,
    .vdp-modal--full-screen {
        position: relative !important;
        top: unset !important;
        left: unset !important;
    }
}
